# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build outputs
dist/
build/

# version control
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_file
Thumbds.db

# msc
*.md